* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-box {
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.auth-box h1 {
    margin-bottom: 20px;
}

.auth-box form {
    display: flex;
    flex-direction: column;
}

.auth-box input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}

.auth-box button {
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.auth-box p {
    margin-top: 10px;
}

.auth-box a {
    color: #3498db;
    text-decoration: none;
}
